<div class="exhibit" [style.width]="width">
  <div class="mat-headline">{{ exhibit.name }}</div>
  <div class="image">
    <img [src]="exhibit.imagePath" [alt]="exhibit.name" />
  </div>
  <div class="read-more" (click)="reveal = true" [class.reveal]="reveal">
    Learn more about {{ exhibit.name }}
  </div>
  <div class="information" [class.reveal]="reveal">
    <div class="close">
      <button mat-mini-fab color="primary" (click)="reveal = false">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="description">
      <p *ngFor="let desc of exhibit.description">{{ desc }}</p>
    </div>
    <div class="keeper">
      <app-keeper-badge [keeper]="exhibit.keeper"></app-keeper-badge>
      Cared for by {{exhibit.keeper.name}}
    </div>
  </div>
</div>
