@import "../../../variables";
@import "../../../mixins";

form {
  @include block;
  width: 100%;
  max-width: 900px;
  border: solid 1px $color_gray;
  padding: 1em;

  .field {
    @include block;
    width: 100%;
    margin: 2em 0;
  }

  .mat-form-field { width: 100%; }
}
