<h1>{{realKeepersOnly ? 'Keepers' : 'Available Avatars'}}</h1>

<button mat-raised-button color="primary" (click)="toggleData()">
  {{realKeepersOnly ? 'Show Available Avatars' : 'Show Keepers' }}
</button>

<div class="wrapper" fxLayout="row wrap" fxLayoutGap="2em">

  <div class="keeper" *ngFor="let k of keepers$ | async" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0.5em">

    <img class="avatar" [src]="k.avatar" alt="keeper avatar" />
    <div class="details">
      <h2 class="name">{{k.name}}</h2>
      <p>{{k.bio}}</p>
    </div>

  </div>

</div>
