<h1>About Us</h1>
<div class="narrow">
  <app-panel-tester>
    <div appPanel>
      <h1>Panel #1</h1>
      <p><strong>Panel #1</strong> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto hic consequuntur eius optio! Modi porro eveniet, facilis deleniti exercitationem voluptas sint iste sed ipsam vel placeat expedita laudantium voluptates? Pariatur?</p>
    </div>
<div appPanel>
  <h1>Panel #2</h1>
  <p><strong>Panel #2</strong>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, assumenda voluptates tempora excepturi quo labore, aliquam nesciunt officia ad esse id, veritatis quisquam. Nam voluptatum animi quos iste dolore voluptates.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quo pariatur cumque rerum, maxime veniam sint laborum quaerat ullam provident consequuntur molestiae saepe, officia delectus perspiciatis ipsum neque, illum earum?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et esse alias, harum dicta commodi incidunt obcaecati culpa beatae assumenda amet, sint excepturi ullam provident ab similique rem quidem modi cupiditate?
  </p>
</div>
<div appPanel>
  <h1>Panel #3</h1>
  <p><strong>Panel #3</strong>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa perferendis tempora voluptates quas, nemo vel impedit reprehenderit ea at tenetur officiis assumenda error sit temporibus corporis reiciendis consequuntur dolore excepturi.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ullam obcaecati distinctio, eius assumenda ex nobis tenetur! Sed amet fugiat odit? Maiores velit laudantium sunt dolorum odio nostrum exercitationem quam.
  </p>
</div>
    </app-panel-tester>
</div>
