@import "../../../variables";
@import "../../../mixins";

$size: 600px;
$thumb_size: 200px;
$height: $thumb_size;
$who_size: $size - $thumb_size - 20px;

.photographers {
  @include block;

  .credit {
    position: relative;
    display: inline-block;
    width: $size;
    height: $height;
    vertical-align: top;
    border: solid 1px #ccc;
    box-shadow: 1px 2px 4px #ccc;

    .thumb, .who {
      position: relative;
      display: inline-block;
      height: $height;
      vertical-align: top;
    }

    .thumb {
      width: $thumb_size;
      img {
        width: 100%;
        height: auto;
      }
    }

    .who {
      width: $who_size;
      height: $height;
      & > div {
        margin: 0.5em 1em;
      }
      .name { font-size: 1.2em; font-weight: bold; }
      .action {
        position: absolute;
        left: 0;
        bottom: 0;
        background: rgba(255,255,255, 0.8);
        width: 95%;
      }
    }

  }

}

.nav {
  @include block;
  margin: 2em 0;
}
