<div class="photographers" fxLayout="column" fxLayoutGap="2em">

  <div class="credit" *ngFor="let p of credits$ | async">
    <div class="thumb">
      <img [src]="p.thumb" alt="Sample Photo" />
    </div>
    <div class="who">
      <div class="name">{{p.name}}</div>
      <div class="badge">
        <app-credit-badge [credit]="p"></app-credit-badge>
      </div>
      <div class="action" fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="1em">
        <a mat-stroked-button [href]="p.url" target="_blank">More Photos...</a>
      </div>
    </div>
  </div>

  <div class="nav" *ngIf="current">
    <a mat-raised-button color="primary" [routerLink]="['/credits']">View All Photographers...</a>
  </div>
</div>
