@import "../../../variables";
@import "../../../mixins";

.zoo-map {
  @include block;
  border: solid 20px rgb(153, 69, 43);
  border-radius: 10px;

  img.map {
    @include block;
    height: auto;
  }

  button {
    position: absolute;

    display: inline-block;
    border: solid 3px rgb(153, 69, 43);
    background: rgba(153, 69, 43, 0.8);
    color: rgba(255,255,255, 0.8); // rgb(153, 69, 43);
    font-weight: bold;
    letter-spacing: 1px;
    outline: none;
    padding: 1em 2em;
    transition: background-color 0.3s ease-in-out, color 0.2s ease-in-out;

    &:hover {
      background: rgba(153, 69, 43, .7);
      color: rgba(255,255,255, 1);

    }
    &:active {
      background: rgba(153, 69, 43, 0.1);
      border-color: black;
      color: rgba(255,255,255, 0.3);
    }

  }
  .pond { top: 10%; left: 10%; }
  .jungle { top: 20%; left: 10%; }
  .oceania { top: 30%; left: 10%; }
  .abstractia { top: 40%; left: 10%; }
  .savana { top: 50%; left: 10%; }
  .autumn { top: 60%; left: 10%; }
  .dots { top: 70%; left: 10%; }
  .grassland { top: 80%; left: 10%; }
}
