<div class="area-wrapper" *ngIf="currentArea; else showAll">
  <h1>
    <app-area-badge [area]="currentArea"></app-area-badge>
  </h1>

  <div class="exhibits-wrapper" *ngIf="exhibits$ | async as exhibits">
    <div class="exhibits" *ngIf="exhibits.length > 0; else noExhibits">

    </div>
  </div>


  <div class="nav">
    <a mat-raised-button color="primary" [routerLink]="['/areas']">View All Areas...</a>
  </div>

</div>

<ng-template #showAll>

  <div class="areas" fxLayout="row wrap">

    <mat-card *ngFor="let a of areas$ | async" class="mat-elevation-z2">
      <mat-card-header>
        <div mat-card-avatar class="colored-circle" [style.background]="a.color"></div>
        <mat-card-title>{{a.name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="a.thumb" alt="Thumbnail of the area" />
      <mat-card-content>
        <div class="tagline">{{a.tagline}}</div>
        <p class="description">{{a.description}}</p>
        <div class="credit" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="1em">
          <span class="label">Photograph by </span>
          <app-credit-badge [credit]="a.credit"></app-credit-badge>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <a mat-stroked-button [routerLink]="['/areas', a.id]">View Exhibits</a>
      </mat-card-actions>
    </mat-card>

  </div>

</ng-template>

<ng-template #noExhibits>
  <h3 class="color-warn">Under Construction</h3>
  <p>This area of the zoo is currently being renovated.  If you
    are interested in currating an exhibit here, please
    <a [routerLink]="['/contact']">contact us</a>
    with your idea(s).
  </p>
</ng-template>
