<mat-toolbar color="primary">
  <div class="container" fxLayout="flex" fxLayoutAlign="start center" fxLayoutGap="1em">

    <span class="app-title">
      <app-logo-icon size="40px"></app-logo-icon>
      <span class="brand">{{appTitle}}</span>
    </span>

    <span class="flex"></span>

    <a [routerLink]="['/home']" routerLinkActive="active"  class="with-icon" mat-button>
      <mat-icon>home</mat-icon>
      Home
    </a>
    <a [routerLink]="['/notifications']" routerLinkActive="active"  class="with-icon" mat-button>
      <mat-icon>notifications</mat-icon>
      Notifications
    </a>
    <a [routerLink]="['/keepers']" routerLinkActive="active"  class="with-icon" mat-button>
      <mat-icon>directions_run</mat-icon>
      Keepers
    </a>
    <a href="#" class="with-icon" mat-button>
      <mat-icon>account_box</mat-icon>
      My Account
    </a>
  </div>
</mat-toolbar>
