@import '~@angular/material/theming';
@import './variables';

@include mat-core();

//$app-primary: defined in _variables
//$app-accent: defined in _variables
//$app-warn: defined in _variables

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

// Typography //

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 300)
);

// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);

// OVERRIDES //
.mat-button, .mat-mini-fab, .mat-icon-button {
  &.cdk-focused,
  &.cdk-program-focused {
    .mat-button-focus-overlay {
      display: none;
    }
  }
}
