@import "../../../variables";
@import "../../../mixins";

$size: 600px;
$thumb_size: 200px;
$height: $thumb_size;
$who_size: $size - $thumb_size - 20px;

.panel-slider {

  @include block;
  overflow: hidden;
  margin: 0 auto;

  .slider {
    position: relative;
    display: block;
    width: 100% * 50;
    height: $height;
  }

}


.bubble-nav {
  @include block;
  margin: 1em auto;
}

.bubble {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: solid 1px $color_gray;
  border-radius: 50%;
  cursor: pointer;

  &.current {
    background: map-get($color_set_gray, medium);
  }
}
